

#title {
    text-align: center;
}

body {
    background: linear-gradient(#CCFFFF, #FFCCCC);
    padding: 0em 3em 1em 3em;
}

.job-dropdown,
.cat-dropdown {
    padding: .5em;
}

.no-border {
    border: none;
}

.job-dropdown:hover {
    padding: 1em;
}

.job-dropdown button {
    background: #add8ef;
    padding: .5em;
}

.job-dropdown button:hover {
    background: #87cefa;
}

.cat-dropdown:hover {
    padding: 1em;
}

.cat-dropdown button {
    background: #add8ef;
    padding: .5em;
}

.cat-dropdown button:hover {
    background: #87cefa;
}

#container {
    font-family: URW Chancery L, cursive;
    display: block;
}

.margin-down {
    margin-bottom: 10px;
}

i {
    border: solid #00bfff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
}

.arrow-down {
    -webkit-transform: rotate(45deg);
}


.submit-btn {
    background: #87ceeb;
    font-size: 2em;
    padding: .5em;
    margin-bottom: 1em;
    border: none;
}

.button-div {
    text-align: center;
}

textarea {
    overflow: auto;
    width: 100%;
}
